@{
    ViewBag.Title = "The New Generation X1";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 id="new-gen-bmwx1">
	<img src="Content/img/the-new-generation-bmw-x1.png" alt="The New Generation | BMW X1"/></h1>
<div id="home-container">
    <div id="think-large-bg">
        <img src="Content/img/think-large.png" alt=""/></div>
    <div id="move-large-bg">
        <img src="Content/img/move-large.png" alt=""/></div>
    <div id="think-copy-bg">
        <img src="Content/img/change-the-way-you-think.png" alt="Change the way you THINK"/></div>
    <div id="move-copy-bg">
        <img src="Content/img/change-the-way-you-move.png" alt="Change the way you MOVE"/></div>
    <div id="x-large-bg">
        <img src="Content/img/x-large-bg.png" alt=""/></div>
    <div id="car-container">
        <div id="think-car">
            <img src="Content/img/think-car.png" alt="BMW X1 Red"/></div>
        <div id="move-car">
            <img src="Content/img/move-car.png" alt="BMW X1 White"/></div>
    </div>
    <a id="move-arrow" class="disabled" href="#">
        <span class="loading">Loading...</span>
        <span class="call-to-action">Change into something<br />more efficient. More<br/>dynamic. More fun to drive.</span>
    </a>
    <a id="think-arrow" class="disabled" href="#">
        <span class="loading">Loading...</span>
        <span class="call-to-action">It’s not what you pay. It’s the value you get.</span>
    </a>
</div>
<div id="move-container">
</div>
<div id="page-fullcircle">
</div>
