@{
	Layout = null;
}

	<div id="move-large-text-bg">
		<img src="Content/img/move-large-text-bg.png" alt=""/></div>
	<div id="x1-large-move">
		<img src="Content/img/x1-large.png" alt=""/></div>
	<div class="car-small" id="move-car-small">
		<a href="#" id="move-home">
			<span class="front"><img src="Content/img/move-car-small.png" alt=""/></span>
			<span class="behind" ><img src="Content/img/think-car-small.png" alt=""/></span>
			<span class="home"><img src="Content/img/home-text.png" alt="Home" /></span>
		</a>
	</div>
    <div id="move-k-shape">
        <img src="Content/img/move-k-shape.png" alt=""/>
        <img class="grey-hex" src="Content/img/grey-hex.png" alt=""/>
    </div>
    <div id="intro" class="move-content pre-active">
        <div class="yt-vid">
            <div class="close"><img src="Content/img/close-btn.png" alt="close"/></div>
            <div class="player"></div>
        </div>
        <div class="move-small-hex">
            <a href="#"><img src="Content/img/small-hex-agile-video-thumb.png" alt=""/></a></div>
        <div class="move-hex">
            <div class="scroller">
                @*<a href="#" class="btn light prev">Prev</a>*@
                <div class="items">
                    <div class="item active">
                        <img src="Content/img/move-intro-hex.png" alt=""/></div>
                </div>
                @*<a href="#" class="btn light next">Next</a>*@
            </div>
        </div>
        <div class="move-text">
            <h2 class="">CHANGE THE WAY YOU MOVE IN THE BMW X1.</h2>
            <div class="text">Change into something more comfortable. More luxurious. More refined. Change into something more efficient. More dynamic. More fun to drive.</div>
        </div>
        <span class="move-more-information"></span>
    </div>

    <div id="agile-style" class="move-content pre-active">
        <div class="yt-vid">
            <div class="close"><img src="Content/img/close-btn.png" alt="close"/></div>
            <div class="player"></div>
        </div>
        <div class="move-small-hex">
            <a href="#"><img src="Content/img/style-small-hex.png" alt=""/></a></div>
        <div class="move-hex">
            <div class="scroller">
                @*<a href="#" class="btn light prev">Prev</a>*@
                <div class="items">
                    <div class="item active">
                        <img src="Content/img/interior-rear-seats-hex.png" alt=""/></div>
                </div>
                @*<a href="#" class="btn light next">Next</a>*@
            </div>
        </div>
        <div class="move-text">
            <h2>CHANGE INTO SOMETHING MORE AGILE.</h2>
            <div class="text">"From the quality leather trim to the tactile surfaces, and for fit and finish, the interiors of the BMW X1 are simply 'a cut above'"</div>
        </div>
        <span class="move-more-information">The Motor Report 2012</span>
    </div>
	<div id="statement" class="move-content pre-active">
        <div class="yt-vid">
            <div class="close"><img src="Content/img/close-btn.png" alt="close"/></div>
            <div class="player"></div>
        </div>
		<div class="move-small-hex">
			<a href="#"><img src="Content/img/small-hex-statement.png" alt=""/></a></div>
		<div class="move-hex">
			<div class="scroller">
				<div class="items">
					<div class="item active">
						<img src="Content/img/move-hex-car-statement.png" alt=""/></div>
				</div>
			</div>
		</div>
		<div class="move-text">
			<h2>CHANGE INTO SOMETHING MORE.</h2>
			<div class="text">"There are very few SUVs that can anywhere near match the X1 for driving dynamics and the elusive 'alive' sporting feel &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;at the wheel"</div>
		</div>
		<span class="move-more-information">The Motor Report 2012</span>
	</div>
	<div id="ultimate" class="move-content pre-active">
		<div class="move-small-hex">
			<img src="Content/img/small-hex-ultimate.png" alt=""/></div>
		<div class="move-hex">
			<div class="scroller">
                <div class="items">
                    <div class="item active">
                        <img src="Content/img/move-hex-car-ultimate.png" alt=""/></div>
                    <div class="item efficient">
                        <img src="Content/img/steering-wheel-hex.png" alt=""/></div>
                    <div class="item connected">
                        <img src="Content/img/dashboard-hex.png" alt=""/></div>
                    <div class="item eight-speed">
                        <img src="Content/img/move-hex-car-agile.png" alt=""/></div>
                </div>
                <div class="thumbs">
                    <a href="#" rel="efficient" class="thumb clouds"></a>
                    <a href="#" rel="connected" class="thumb phone"></a>
                    <a href="#" rel="eight-speed" class="thumb wheel"></a>
                </div>
			</div>
		</div>
        <div class="move-text ult active">
            <h2>CHANGE INTO SOMETHING MORE BMW</h2>
            <div class="text">Top to bottom, the Leipzig-built small SUV (and really, not so small), has the same dynamism and prestige feel that is so deeply embedded in all.</div>
        </div>
        <div class="move-text efficient">
            <h2>EFFICIENT DYNAMICS</h2>
            <div class="text">BMW EfficientDynamics reduces fuel consumption and emissions, while enhancing dynamic performance. The BMW X1 features an eight-speed automatic transmission - producing greater engine efficiency at every speed.</div>
        </div>
        <div class="move-text connected">
            <h2>CONNECTED DRIVE</h2>
            <div class="text">The innovative functions of BMW ConnectedDrive such as Park Distance Control, optional Rear View Camera and Internet functionality provide optimum integration between the driver, vehicle and the world outside.</div>
        </div>
        <div class="move-text eight-speed">
            <h2>50:50 WEIGHT DISTRIBUTION</h2>
            <div class="text">The perfect balance of performance and precision: the ideal distribution of weight between the front and rear axles makes your BMW X1 superbly agile.
            </div>
        </div>
        <div class="move-more-information">
            <a href="#" class="back">Back</a>
            <span class="tag">The Motor Report 2012</span>
        </div>
        @*<a href="http://www.drive.com.au" target="_blank" class="move-more-information">Matt Campbell,<br />www.drive.com.au</a>*@
	</div>

	
	<div id="move-slogan">Change into something more efficient. More dynamic. More fun to drive.</div>
@*	<div id="move-buttons">
		<a href="#" class="btn dark prev disabled">Prev</a>
		<a href="#" class="btn dark next">Next</a>
	</div>*@
    <nav id="move-nav">
        <a href="#" rel="intro" class="nav nav0"><span>New BMW X1</span></a>
        <a href="#" rel="agile-style" class="nav nav1"><span>Style &amp; Design</span></a>
        <a href="#" rel="statement" class="nav nav2"><span>Drivability</span></a>
        <a href="#" rel="ultimate" class="nav nav3"><span>Ultimate Driving Machine</span></a>
    </nav>
	<nav id="move-cta">
		<a href="http://www.bmw.com.au/com/en/newvehicles/x/x1/2012/showroom/compare.html" target="_blank" class="nav nav0"><span>View Specifications</span></a>
		<a href="http://www.bmw.com.au/com/en/newvehicles/x/x1/2012/showroom/requestebrochure.html " target="_blank" class="nav nav1"><span>Request a Brochure</span></a>
		<a href="http://www.bmw.com.au/com/en/newvehicles/x/x1/2012/showroom/requesttestdrive.html" target="_blank" class="nav nav2"><span>Book a Test Drive</span></a>
		<a href="http://www.bmw.com.au/faces/jDealerList.jsp" target="_blank" class="nav nav3"><span>Locate a Dealer</span></a>
	</nav>


