@{
    Layout = null;
}

    <div class="car-small" id="think-car-small">
		<a href="#" id="think-home">
            <span class="front"><img src="content/img/think-car-small.png" alt=""/></span>
            <span class="behind" ><img src="content/img/move-car-small.png" alt=""/></span>
            <span class="home"><img src="content/img/home-text.png" alt="Home" /></span>
		</a>
	</div>
    <div id="x1-large-think">
		<img src="content/img/x1-large.png" alt=""/></div>

    <div id="CircleIntro" class="internal-page pre-active" >
        <div class="circle-container">
            <div class="circle active">
                <img src="content/img/full-circle-intro.png" alt="" />                  
            </div>
        </div>
        <div class="txt-container">
            <div class="top-img">
                
            </div>
            <div class="txtdata">           
                <div id="txt-Intro" class="txtitem active">
                    <h2 class="bcl">WHEN THINKING ABOUT BUYING A CAR.</h2>
                    <div class="text">There are many things to consider,               because it’s not just what you 	pay up front, it’s the value you get.       Find out just how attainable a BMW X1 can be. </div>
                </div>
            </div>
        </div>
    </div>

    <div id="BmwFullCircle" class="internal-page pre-active">
        <div class="circle-container">
            <h4></h4>
            <div id="full-circle">
                <div class="circles">
                    <div id="benefits" class="circle active" data-txtrel="txt-benefits">  
                        <img src="content/img/full-circle-base-halves.png" alt="" />
                        <h5>BMW<br />FULL CIRCLE</h5>
                        <img class="car" alt="" src="content/img/car_img_fullcircle.png">
                    </div>
                    <div id="choice" class="circle" data-txtrel="txt-choice">  
                        <img src="content/img/full-circle-base-halves.png" alt="" />
                        <h5 class="left"><a href="#">TODAY</a></h5>
                        <h5 class="right"><a href="#">TOMORROW</a></h5>
                    </div>
                    <div id="today" class="circle " data-txtrel="txt-today">
                        <img src="content/img/fullcircle_bace.png" alt="" />
              
                        <div class="left txt " data-txtrel="txt-guaranteed">
                            <div class="icon guaranteed"></div>
                            GUARANTEED<br />FUTURE VALUE&nbsp;&nbsp;&nbsp;
                            <span class="hover-img"><div class="icon guaranteed"></div>GUARANTEED<br />FUTURE VALUE</span>
                        </div>
                        <div class="top txt "  data-txtrel="txt-contract">
                            <div class="icon contract"></div>
                            CONTRACT<br />TERM
                            <div class="hover-img"><div class="icon contract"></div>CONTRACT<br />TERM</div>
                        </div>
                        <div class="right txt " data-txtrel="txt-kilometers">
                            <div class="icon kilometers"></div>
                            KILOMETRES<br />ALLOWED
                            <span class="hover-img"><div class="icon kilometers"></div>KILOMETERS<br />ALLOWED</span>
                        </div>
                        <div class="bottom txt " data-txtrel="txt-repayaments">
                            <div class="icon repayments"></div>
                            REPAYMENTS<br />OPTIONS
                            <span class="hover-img"><div class="icon repayments"></div>REPAYMENTS<br />OPTIONS</span>
                        </div>
                
                    </div>
                    <div id="tomorrow" class="circle" data-txtrel="txt-tomorrow">
                        <img src="content/img/fullcircle_bace.png" alt="" />
               
                        <div class="left txt " data-txtrel="txt-keep">
                            <div class="icon keep"></div>
                            KEEP
                            <span class="hover-img"><div class="icon keep"></div>KEEP</span>
                        </div>
                        <div class="top txt " data-txtrel="txt-trade">
                            <div class="icon trade"></div>
                            TRADE-IN
                            <span class="hover-img"><div class="icon trade"></div>TRADE-IN</span>
                        </div>
                        <div class="right txt " data-txtrel="txt-refinance">
                            <div class="icon refinance"></div>
                            REFINANCE
                            <span class="hover-img"><div class="icon refinance"></div>REFINANCE</span>
                        </div>
                        <div class="bottom txt " data-txtrel="txt-return">
                            <div class="icon return"></div>
                            RETURN
                            <span class="hover-img"><div class="icon return"></div>RETURN</span>
                        </div>
                    </div>
      
                </div>
                <div class="imageMaps">
                    <img src="content/img/1pix.png" alt="" usemap="#MapT" hidefocus="true"/>
                    <map name="MapT" id="MapT">
                        <area  shape="poly" coords="159,158,272,49,158,4,48,48" href="#" class="topMap map0" rel="top" />  
                        <area  shape="poly" coords="160,159,47,47,2,160,46,271" href="#" class="leftMap map0" rel="left"/>
                        <area  shape="poly" coords="161,159,271,270,168,315,47,271" href="#" class="bottomMap map0" rel="bottom" />
                        <area  shape="poly" coords="161,160,274,49,316,147,274,271" href="#" class="rightMap map0" rel="right" />
                    </map>
                </div>
                <a href="#" class="navBtn next"></a>
                <a href="#" class="navBtn back"></a>
                <div class="navi">
                    <a href="#" class="hidden active"></a>
                    <a href="#" class="hidden"></a>
                    <a href="#" class="tod hidden"><span>TODAY</span></a>
                    <a href="#" class="tom hidden"><span>TOMORROW</span></a>
                </div>
            </div>
       
        </div>
        <div class="txt-container">
            <div class="top-img hidden">
                <img src="content/img/car_img_fullcircle.png" alt="" />
            </div>
            <div class="txtdata">           
                <div id="txt-benefits" class="txtitem upper active">
                    <h2 class="bcl">ONLY PAY FOR WHAT YOU DRIVE.</h2>
                    <div class="text textr" >BMW Full Circle is flexible
                        vehicle finance that offers
                        the security of a Guaranteed
                        Future Value – we guarantee
                        the minimum amount your car
                        will be worth at the end of your
                        finance contract. </div>
                </div>
                <div id="txt-choice" class="txtitem">
                    <h2>ONLY PAY FOR<br />WHAT YOU DRIVE.</h2>
                    <div class="text" >When you purchase your BMW X1 with BMW Full Circle you also purchase peace of mind. At the end of your contract you can return your vehicle to your BMW dealer, and receive the assurance of guaranteed buy back with Guaranteed Future Value. </div>
                </div>
                <div id="txt-today" class="txtitem">
                    <h2>BMW<br />FULL CIRCLE</h2>
                    <div class="text" >Choose the BMW X1 you can have today. Simply select the combination of your model, your contract term and your desired kilometre allowance to suit your budget. Click on the icons to explore the flexibility and peace of mind of BMW Full Circle.</div>
                </div>

                <div id="txt-contract" class="txtitem">
                    <h2>STEP 1 :</h2>
                    <div class="text" >Choose the length of your contract: 2, 2.5, 3, 3.5 or 4 years.</div>
                </div>
                <div id="txt-kilometers" class="txtitem">
                    <h2>STEP 2 :</h2>
                    <div class="text" >Choose your preferred kilometre allowance to match your driving requirements.</div>
                </div>
                <div id="txt-repayaments" class="txtitem">
                    <h2>STEP 3 :</h2>
                    <div class="text" >Choose your monthly repayment options to suit your budget.</div>
                </div>
                <div id="txt-guaranteed" class="txtitem">
                    <h2>STEP 4 :</h2>
                    <div class="text" >After choosing all your options you’ll receive the Guaranteed Future Value of your BMW X1. </div>
                </div>

                <div id="txt-tomorrow" class="txtitem">  
                    <h2>BMW<br />FULL CIRCLE</h2>                              
                    <div class="text" >BMW Full Circle gives you the flexibility to make the right decision when tomorrow comes. Click on the four icons to explore the full range of options that are available at the end of your contract period.</div>
                </div>
                <div id="txt-trade" class="txtitem"> 
                    <h2>TRADE</h2>               
                    <div class="text" >Take advantage of the Guaranteed Future Value of your BMW X1 and trade in for the latest model.</div>
                </div>
                <div id="txt-refinance" class="txtitem">    
                    <h2>REFINANCE</h2>            
                    <div class="text" >Once your contract comes to an end you may decide you want to enjoy your BMW for a little longer. Simply refinance the Guaranteed Future Value with a BMW Business Manager for a future term.</div>
                </div>
                <div id="txt-keep" class="txtitem">
                    <h2>KEEP</h2>                
                    <div class="text" >Love your BMW? Simply pay the guaranteed future value amount and it is all yours.</div>
                </div>
                <div id="txt-return" class="txtitem">   
                    <h2>RETURN</h2>             
                    <div class="text" >Bar any excess kilometre charges or unfair wear and tear, simply hand over the keys.</div>
                </div>

            </div>
            <img src="content/img/bmwfullcircle_logo.jpg" alt="BMW FULL CIRCLE"  class="fullcircle-logo"/>
        </div>
    </div>
    <div id="BmwServiceInclusive" class="internal-page pre-active" >
        <div class="circle-container">
            <div class="circle active">
                <img src="content/img/service-inclusive-icons.png" alt="" />                  
            </div>
        </div>
        <div class="txt-container">
            <div class="top-img">
                <img alt="" src="content/img/service_inclusive_img.png" class="person-img">
            </div>
            <div class="txtdata">           
                <div id="txt-BSI" class="txtitem active">
                    <h2>BMW<br/>SERVICE INCLUSIVE.</h2>
                    <div class="text">Forget the worry of ongoing service costs. When you choose BMW Service Inclusive, you’ll receive scheduled servicing for your BMW X1 for 3 years or 60,000 kilometres (whichever comes first). This includes all scheduled servicing costs as well as brake pads, brake discs and wiper blades. </div>
                    <a target="_blank" class="think-more-information" href="http://bmw.com.au/com/en/owners/bmw_service/service_inclusive/">Find out more</a>
                </div>
            </div>
        </div>
    </div>
    <div id="BmwRoadside" class="internal-page pre-active" >
        <div class="circle-container">
            <div class="circle active">
                <img src="content/img/roadside-assist-large-hex.png" alt="" />
                 
            </div>  
        </div>
        <div class="txt-container">
            <div class="top-img"><img alt="" src="content/img/roadassist_img.png" class="person-img">
            </div> <div class="txtdata">         
                       <div id="txt-RSA" class="txtitem active">
                           <h2 class="bcr">ROADSIDE ASSISTANCE.</h2>
                           <div class="text">The BMW X1 comes with 3 years complimentary Roadside Assistance.&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; So with a single call you’ll receive rapid, on-the-spot assistance for a breakdown, tyre change, flat battery, empty fuel tank or vehicle lock out, 24 hours a day, 365 days of the year.</div>
                           <a target="_blank" class="think-more-information" href="http://bmw.com.au/com/en/owners/bmw_service/bmw_assistance/">Find out more</a>
                       </div>

                   </div>
        </div>
    </div>
    <div id="circle-slogan">It’s not what you pay. It’s the value you get.</div>
    <div id="tncs" style="">
        *With Guaranteed Future Value you’ll know where you stand in advance. At the end of your contract, you can trade-in your X1; or exercise your Guaranteed Future Value (GFV) rights by paying out or refinancing the GFV or returning your X1 to BMW Financial Services, provided that your X1 has not exceeded the contracted kilometre allowance and meets fair wear and tear conditions. BMW Full Circle from BMW Financial Services (a division of BMW Australia Finance Ltd, Australian credit licence 392387). Fees, charges, terms, conditions and approval criteria applies.
    </div>
@*    <div id="circle-buttons">
        <a href="#" class="btn dark prev disabled">Prev</a>
        <a href="#" class="btn dark next">Next</a>
    </div>*@
    <nav id="circle-nav">
        <a href="#" class="nav nav0" rel="CircleIntro"><span class="text">Introduction</span> </a>
        <a href="#" class="nav nav1" rel="BmwFullCircle"><span class="text">BMW FULL CIRCLE</span> </a>
        <a href="#" class="nav nav2" rel="BmwServiceInclusive"><span class="text">BMW SERVICE INCLUSIVE</span> </a>
        <a href="#" class="nav nav3" rel="BmwRoadside"><span class="text">ROADSIDE ASSISTANCE</span> </a>
    </nav>
    <nav id="circle-cta">
        <a href="http://bmw.com.au/com/en/newvehicles/x/x1/2012/showroom/driveawayprice.html" target="_blank" class="nav nav0"><span class="text">View Pricing</span> </a>
        <a href="http://www.bmw.com.au/com/en/newvehicles/x/x1/2012/showroom/requestebrochure.html " target="_blank" class="nav nav1"><span class="text">Request a Brochure</span> </a>
        <a href="http://www.bmw.com.au/com/en/newvehicles/x/x1/2012/showroom/requesttestdrive.html" target="_blank" class="nav nav2"><span class="text">Book a Test Drive</span> </a>
        <a href="http://www.bmw.com.au/faces/jDealerList.jsp" target="_blank" class="nav nav3"><span class="text">Locate a Dealer</span> </a>
    </nav>

